<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="dashboard" version="0.1">
  <name>Dashboard</name>
  <icon src="icon.svg"/>
  <content src="bin/dashboard" type="application/x-executable"/>
  <description>This is a demo dashboard application</description>
  <author>Qt</author>
  <license>APL 2.0</license>
</widget>


